body{
    background-color: #fdfdbb;
}
a{
    color: #ff0000;
    text-decoration: none;
}
.head {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}